# Read more about SSH config files: https://linux.die.net/man/5/ssh_config

# SSH Config file for separate host configurations. This file is included in the main SSH config file using the Include directive.

############# HOSTS #############

Host <Friendly Name>
    HostName <Host_Name_or_IP>
    User <username>
    IdentityFile <path_to_private_key>
    Port <port_number>
    # Additional options can be added here, such as:
    # ForwardAgent yes
    # ProxyJump <jump_host>